<!DOCTYPE html>
<html>
<head>
  <% include templates/errorRouting.ejs %>
</head>

<body>
  <% include templates/header.ejs %>
  <h1><%= error %></h1>

  <% include templates/footer.ejs %>
  <% include scripts.ejs %>
</body>

</html>



