<!DOCTYPE html>
<html>

<head>
  <% include templates/errorRoutingHead.ejs %>
</head>

<body>
  <% include templates/header.ejs %>
  <div class='left-shifted-to-dashboard'>
    <h1><%= error %></h1>

    <% include templates/footer.ejs %>
  </div>

  <% include templates/scriptLinks.ejs %>
</body>

</html>
