<!DOCTYPE html>
<html>
<head>
  <% include templates/head.ejs %>
</head>

<body>
  <% include templates/header.ejs %>
  <h1><%= title %></h1>

  <% include templates/footer.ejs %>
  <% include scripts.ejs %>
</body>

</html>