<header>

  <!-- Top nav bar -->
  <div class='top-header'>

    <div class='input-products-location-submit-div container'>
      <input class='input-bar' type="text" placeholder='Products'>
      <input class='input-bar' type="text" placeholder='Location'>
      <button class='input-submit-button'>Submit</button>
    </div>

    <div class='login-signup-div'>
      <a class='login-button' href='/login'>Log In</a>
      <a class='signup-button' href='/signup'>Sign Up</a>
    </div>

  </div>

  <!-- Left side nav/dashboard bar -->
  <div class='dash-board dash-board-color'>
    <div class='ventorigins-logo-div'>
      <a href='/'><img class='ventorigins-logo' src='/images/vo_logo3.png'></a>
      <h1 class='ventorigins-logo-title'>Vent Origins</h1>
    </div>
  </div>

</header>