body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  margin: 0px;
  padding: 0px;

  outline: none;
}

a {
  color: #00B7FF;
}

.left-shifted-to-dashboard {
  left: 200px;
  right: 0px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}
